{% extends "base.html" %}
{% load staticfiles %}
{% block head_title%} Dashboard | {{block.super}}{%endblock%}


{%block content%}
<h1 class=' text-align-center'>  Welcome to your Dashboard {{user}} </h1>
<br> <br>
<div class='row'>
	<div class='col-sm-8 col-sm-offset-2'>
			<form action="{% url 'search'%}" method="GET">
			
			<input class='btn  btn-primary btn-block btn-lg' type="submit" value="Search Recipe"/>
			</form>
		
	</div>
</div>
<br> <br>
{% if ingred %}
<div class='row'>
	<div class='col-sm-4 col-sm-offset-4'>
	<p class='lead text-align-center'> Your Ingredients </p>
<table class='table'>
	{% for instance in ingred %}
		<tr><td class='text-align-center'> {{instance.ingredient}} 	</td></tr>
	{%endfor%}
</table>
</div>
</div>
{% endif %}
<h3 class='text-align-center'> {{textinfo_ingred}} </h3>
<div class='row'>
	<div class='col-sm-4 col-sm-offset-2'>
			<form action="{% url 'suggest'%}" method="GET">
			<input class='btn  btn-primary btn-block' type="submit" value="MarmiPonts Suggestion"/>
			</form>	
	</div>
	<div class='col-sm-4'>
			<form action="{% url 'ingredients'%}" method="GET">
			<input class='btn  btn-primary btn-block' type="submit" value="Edit Ingredient List"/>
			</form>
			

	</div>
</div>
<br> <br>
{% if info %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
	<p class='lead text-align-center'> Personal Information </p>
<table class='table'>
		<tr><td class='text-align-center'> Full Name 	</td><td class='text-align-center'>{{info.First_name}} {{info.Last_name}}</td></tr>
		<tr><td class='text-align-center'> Department </td><td class='text-align-center'>{{info.Departement}}</td></tr>
		<tr><td class='text-align-center'> Room Number </td><td class='text-align-center'>{{info.Room_number}}</td></tr>
		<tr><td class='text-align-center'> Cell Number </td><td class='text-align-center'>{{info.Telephone_number}}</td></tr>
</table>
</div>
</div>
{% endif %}
<h3 class='text-align-center'> {{textinfo_perso}} </h3>
<br>
<div class='row'>
	<div class='col-sm-8 col-sm-offset-2'>
			<form action="{% url 'personalinfo'%}" method="GET">
			<input class='btn  btn-primary btn-block' type="submit" value="Edit Personal Data"/>
			</form>
	</div>
</div>

<br> <br>
<div class='row'>
	<div class='col-sm-4 col-sm-offset-4'>
			<form action="{% url 'forum'%}" method="GET">
			<input class='btn  btn-primary btn-block btn-lg' type="submit" value="Visit the Forum"/>
			</form>
	</div>
</div>
{%endblock%}