{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
		<form action="" method="post">
			<div class='row'>
				<div class='col-sm-6 col-sm-offset-3'>
					<h2 class="text-align-center"> Personal Information: {{user}} </h2>
				<br>
		    {% csrf_token %}
		    {{ form|crispy}}
		    <br>
		    <input class= 'btn btn-primary btn-block' type="submit" value="Edit" name="edit" />
		    <br>
		    <p class='lead text-align-center'><a href={% url 'dashboard'%}>{{textedit}} </a></p>
		    </div>
		</form>
{% endblock %}