{% extends "base.html" %}
{% block head_title%} Suggestion | {{block.super}}{%endblock%}

{% block content %}
<h1 class=' text-align-center'>  MarmiPonts Suggestion </h1>
<br><br>
<div class='row'>
	<h3 class='text-align-center'> {{title}} </h3>
</div>
<br>
<div class='row'>
	<div class='col-sm-6 '>
		<img src= {{image_url}} class='img-responsive' />
	</div>
	<div class='col-sm-6'>
		<p class='lead'> Ingredients: </p>
		{% for ingred in recipe_ingred%}
		<p> {{ingred}} </p>
		{% endfor %}
		<p class='lead'> Directions: <a href={{source_url}} target="_blank"> Click Here ! </a> </p>
	</div>
</div>
<br> <br> <br> <br>
{% if user1 %}
<div class= 'row'>
<div class='col-sm-4 col-sm-offset-4'>
<p class='lead text-align-center'> Prepare your meal with: </p>
</div>
</div>
{% endif %}

<div class='col-sm-6 col-sm-offset-3'>
<div class= 'row'>
<p class='lead'> {{ match }} </p>
</div>
</div>
{%if not user2 %}
{%if user1%}
<div class='col-sm-6 col-sm-offset-3'>
	<div class= 'row'>
	<p class='text-align-center'> Name:  {{name1}} </p>
	</div>
	<div class= 'row'>
	<p class='text-align-center'> Room Number:  {{room1}} </p>
	</div>
	<div class= 'row'>
	<p class='text-align-center'>  {{cell1}} </p>
	</div>
	<div class = 'row'>
	<p class='lead text-align-center'> Available Ingredients </p>
	</div>
	<div class = 'row'>
	{% for ingred in list_ingr1 %}
	<p class='text-align-center'>{{ingred}}</p>
	{% endfor %}
	</div>
</div>
{% endif %}
{% endif %}
{% if user1 and user2  %}
<div class='col-sm-6'>
	<div class= 'row'>
	<p class='text-align-center'> Name: {{name1}} </p>
	</div>
	<div class= 'row'>
	<p class='text-align-center'> Room Number: {{room1}} </p>
	</div>
	<div class= 'row'>
	<p class='text-align-center'> Cell Phone: {{cell1}} </p>
	</div>
	<div class = 'row'>
	<p class='lead text-align-center'> Available Ingredients </p>
	</div>
	<div class = 'row'>
	{% for ingred in list_ingr1 %}
	<p class='text-align-center'>{{ingred}}</p>
	{% endfor %}
	</div>
</div>

<div class='col-sm-6'>
	<div class= 'row'>
	<p class='text-align-center'> Name: {{name2}} </p>
	</div>
	<div class= 'row'>
	<p class='text-align-center'> Room Number: {{room2}} </p>
	</div>
	<div class= 'row'>
	<p class='text-align-center'> Cell Phone: {{cell2}} </p>
	</div>
	<div class = 'row'>
	<p class='lead text-align-center'> Available Ingredients </p>
	</div>
	<div class = 'row'>
	{% for ingred in list_ingr2 %}
	<p class='text-align-center'>{{ingred}}</p>
	{% endfor %}
	</div>
</div>
{% endif %}

{% endblock %}