{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title%} New thread | {{block.super}}{%endblock%}
{%block content%}

<p>{{ forum_info.title }}: </p>

<p><a href="/forum/"> Retour a la liste des forums </a> </p>

<p class="bg-primary">
	{% if thread_list %}
	    <ul>
	{% for Thread in thread_list %}
	    <li><a href="/thread/{{ Thread.id }}/">{{ Thread.title }}</a></li>
	    {{ Thread.pub_date }}
	{% endfor %}
	    </ul>
	{% else %}
	    <p>Aucun sujet disponible</p>
	{% endif %}
</p>

<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<h1> New thread </h1>
		
		<form action="/forum/{{ forum_info.id }}/" method="post">
			{% csrf_token %}
			{{ form|crispy }}
<!-- 			{{ thread_info.title.as_p }} -->
		
			<input class='btn  btn-primary btn-block btn-lg' type="submit" value="Submit"/>
		</form>
		
	</div>
</div>
{%endblock%}